:root {
}

#BlackOverlay {
    opacity: 0;
    visibility: visible;
    transition: opacity 0.5s ease;
    display: none;
}

#BlackOverlay.visible {
    opacity: 1;
    visibility: visible;
}

.menuButton {
    height: 90px;
    transition-property: all;
    position: relative;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.menuButton:active {
    height: 90px;
}

.LevelSelectDefault {
}

.SlideOutLeft {
    height: 90px;
    top: 0;
    transform-origin: center;
    translate: -1197px 0;
    opacity: 0;
}

.SlideOutRight {
    height: 90px;
    top: 0;
    transform-origin: center;
    translate: 1314px 0;
    opacity: 0;
    transition-duration: 1s;
}

.LevelSelected {
    transition-duration: 1s;
    translate: -206px 0;
}

.LevelsActive {
    transition-duration: 1s;
    translate: 205px -3px;
    left: -206px;
    top: 249px;
}

.OptionsSelected {
    transition-duration: 1s;
    translate: -206px -104%;
    top: auto;
}

.LevelListActive {
    transition-duration: 1s;
    top: 384px;
    left: 520px;
    opacity: 1;
    position: absolute;
    translate: 206px 0;
}

.LevelListDefault {
    position: absolute;
    top: 386px;
    left: 519px;
    opacity: 0;
    transition-duration: 1s;
}

.PostStartHidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.PreStartHidden {
    display: none;
    opacity: 0;
}
